@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Header Styles */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin-top: 35px;
}

.navbar .links ul {
  display: flex;
  list-style: none;
  gap: 34px;
}

.navbar .links ul li {
  color: rgba(58, 58, 58, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.navbar .logo h3 {
  color: rgba(58, 58, 58, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

/* Banner Styles */
.banner {
  display: flex;
  gap: 133px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.banner-content {
  width: 562px;
}

.banner-content h3 {
  color: rgba(58, 58, 58, 1);
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner-content p {
  color: rgba(58, 58, 58, 1);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.banner-content button {
  padding: 15px 30px;
  border-radius: 44px;
  border: none;
  background: rgba(224, 44, 109, 1);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* Media Query */
@media screen and (max-width: 576px) {
  /* Navbar Styles */
  .navbar {
    flex-direction: column;
    margin: 35px auto;
    gap: 30px;
  }
  .navbar .links ul {
    gap: 15px;
  }
  .navbar .links ul li {
    font-size: 15px;
  }
  /* Banner Styles */
  .banner {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
  }
  .banner-content {
    text-align: center;
    width: 455px;
  }
  .banner-content h3 {
    font-size: 28px;
  }
  .banner-img img {
    width: 202px;
  }
  .banner-content p {
    font-size: 15px;
    margin: 16px 40px;
  }
}
