@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header Styles */

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin-top: 35px;
}

.navbar .links ul {
  display: flex;
  list-style: none;
  gap: 34px;
}

.navbar .links ul li {
  color: rgba(58, 58, 58, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.navbar .logo h3 {
  color: rgba(58, 58, 58, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

/* Banner Styles */
.banner {
  display: flex;
  gap: 133px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.banner-content {
  width: 562px;
}

.banner-content h3 {
  color: rgba(58, 58, 58, 1);
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner-content p {
  color: rgba(58, 58, 58, 1);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.banner-content button {
  padding: 15px 30px;
  border-radius: 44px;
  border: none;
  background: rgba(224, 44, 109, 1);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* Main Styles */

/* Sponsor Styles */
.sponsor-content {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* Product Styles */
.product-container {
  margin-bottom: 70px;
}

.product-container .product-content h3 {
  text-align: center;
  color: rgba(58, 58, 58, 1);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 47px;
}

.product-container .product-cards {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  width: 329px;
  height: 476px;
  padding: 17px 14px;
  border-radius: 5px;
}

.product-container .product-cards .card h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.product-container .product-cards .card h4 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

.product-container .product-cards .card p {
  font-size: 14px;
  font-weight: 700;
  color: grey;
}

/* Media Query */
@media screen and (max-width: 576px) {

  /* Navbar Styles */
  .navbar {
    flex-direction: column;
    margin: 35px auto;
    gap: 30px;
  }

  .navbar .links ul {
    gap: 15px;
  }

  .navbar .links ul li {
    font-size: 15px;
  }

  /* Banner Styles */
  .banner {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
  }

  .banner-content {
    text-align: center;
    width: 455px;
  }

  .banner-content h3 {
    font-size: 28px;
  }

  .banner-img img {
    width: 202px;
  }

  .banner-content p {
    font-size: 15px;
    margin: 16px 40px;
  }

  /* Sponsor Styles */
  .sponsor-content {
    margin-top: 150px;
    flex-direction: row;
    flex-wrap: wrap;
  }


}